USE [master]
GO
/****** Object:  Database [DW_Superstore_Code]    Script Date: 05/09/2025 14:07:14 ******/
CREATE DATABASE [DW_Superstore_Code]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_Superstore_Code', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Superstore_Code.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_Superstore_Code_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Superstore_Code_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Superstore_Code].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Superstore_Code]
GO
/****** Object:  Table [dbo].[FACTOrderItem]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTOrderItem](
	[Fact_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Row_Id] [bigint] NOT NULL,
	[Order_Id] [char](14) NOT NULL,
	[Customer_SK] [bigint] NOT NULL,
	[Product_SK] [bigint] NOT NULL,
	[ShipMode_SK] [bigint] NOT NULL,
	[Geog_SK] [bigint] NOT NULL,
	[OrderDate_SK] [bigint] NOT NULL,
	[ShipDate] [date] NOT NULL,
	[Sales] [float] NOT NULL,
	[Qty] [int] NOT NULL,
	[Discount] [decimal](3, 2) NOT NULL,
	[Profit] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Fact_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DateSales]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DateSales] AS
SELECT OrderDate_SK,
       SUM(Qty)   AS Total_Qty,  -- total quantities
       SUM(Sales) AS Total_Sales -- total value (price)
FROM FACTOrderItem
GROUP BY OrderDate_SK
--ORDER BY OrderDate_SK
GO
/****** Object:  Table [dbo].[dimDate]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimDate](
	[Date_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[DateValue] [date] NOT NULL,
	[Day] [int] NOT NULL,
	[Week] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[Year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Cube0]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Cube0] AS
SELECT s.OrderDate_SK, -- keep it just in case
       d.DateValue,
       s.Total_Qty, s.Total_Sales,
       d.Day, d.Week, d.Month, d.Quarter, d.Year
FROM DateSales    s
     JOIN dimDate d ON s.OrderDate_SK = d.Date_SK
GO
/****** Object:  Table [dbo].[dimGeog]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimGeog](
	[Geog_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Country] [char](13) NOT NULL,
	[Region] [varchar](7) NOT NULL,
	[State] [varchar](20) NOT NULL,
	[City] [varchar](17) NOT NULL,
	[PostalCode] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Geog_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimCustomer]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimCustomer](
	[Customer_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [char](8) NOT NULL,
	[CustomerName] [varchar](22) NOT NULL,
	[CustomerSegment] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Cube1]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Cube1] AS
SELECT c.Customer_SK, c.CustomerName, g.Region,
g.State,g.City, d.Quarter,
SUM(Qty) AS Total_Qty,
SUM(Sales) AS Total_Sales

FROM FACTOrderItem a
JOIN dimCustomer c ON a. Customer_SK = c .Customer_SK
JOIN dimGeog g ON a. Geog_SK = g. Geog_SK
JOIN dimDate d ON a. OrderDate_SK = d. Date_SK

GROUP BY c.Customer_SK, c.CustomerName, g.Region,
g.State,g.City, d.Quarter
GO
/****** Object:  Table [dbo].[dimProduct]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimProduct](
	[Product_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [char](15) NOT NULL,
	[ProductName] [varchar](127) NOT NULL,
	[ProductCategory] [varchar](15) NOT NULL,
	[ProductSubCategory] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Cube2]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Cube2] AS
SELECT  d.Year, d.Week,
       p.ProductCategory,
       c.CustomerSegment,
       g.Region,
       SUM(a.Qty)   AS Total_Qty,
       SUM(a.Sales) AS Total_Sales
FROM FACTOrderItem    a
     JOIN dimDate     d ON a.OrderDate_SK = d.Date_SK
     JOIN dimProduct  p ON a.Product_SK   = p.Product_SK
     JOIN dimCustomer c ON a.Customer_SK  = c.Customer_SK
     JOIN dimGeog     g ON a.Geog_SK      = g.Geog_SK
GROUP BY d.Year, d.Week, p.ProductCategory, c.CustomerSegment, g.Region
GO
/****** Object:  View [dbo].[Cube3]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Cube3] AS
SELECT p.ProductCategory, d.[Year],
       SUM(Qty)   AS Total_Qty,
       SUM(Sales) AS Total_Sales
FROM FACTOrderItem   a
     JOIN dimProduct p ON a.Product_SK   = p.Product_SK
     JOIN dimDate    d ON a.OrderDate_SK = d.Date_SK
	 GROUP BY p.ProductCategory, d.[Year]
GO
/****** Object:  View [dbo].[vCustomerSegment]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vCustomerSegment] AS
SELECT c.CustomerSegment,
       COALESCE(ROUND(SUM(Sales), 0), 0) AS Total_Sales
FROM dimCustomer c
     LEFT JOIN FACTOrderItem a ON c.Customer_SK = a.Customer_SK
GROUP BY c.CustomerSegment
GO
/****** Object:  View [dbo].[MEGACUBE]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MEGACUBE] AS
SELECT d.Year, d.Month, g.Region, c.CustomerSegment, p.ProductCategory,
SUM(Qty) AS Total_Qty,
SUM(Sales) AS Total_Sales
FROM FACTOrderItem a
	JOIN dimGeog     g ON a.Geog_SK      = g.Geog_SK
	JOIN dimProduct  p ON a.Product_SK   = p.Product_SK
     JOIN dimDate     d ON a.OrderDate_SK = d.Date_SK
     JOIN dimCustomer c ON a.Customer_SK  = c.Customer_SK
GROUP BY d.Year, d.Month, g.Region, c.CustomerSegment, p.ProductCategory
GO
/****** Object:  Table [dbo].[dimShipMode]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimShipMode](
	[ShipMode_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ShipMode] [varchar](14) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipMode_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuperstoreStaging]    Script Date: 05/09/2025 14:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperstoreStaging](
	[Row_ID] [bigint] NOT NULL,
	[Order_ID] [nvarchar](50) NOT NULL,
	[Order_Date] [date] NOT NULL,
	[Ship_Date] [datetime2](7) NOT NULL,
	[Ship_Mode] [varchar](14) NOT NULL,
	[Customer_ID] [char](8) NOT NULL,
	[Customer_Name] [nvarchar](50) NOT NULL,
	[Segment] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[City] [varchar](17) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Postal_Code] [char](5) NOT NULL,
	[Region] [nvarchar](50) NOT NULL,
	[Product_ID] [char](15) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Sub_Category] [nvarchar](50) NOT NULL,
	[Product_Name] [varchar](127) NOT NULL,
	[Sales] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [float] NOT NULL,
	[Profit] [float] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([Customer_SK])
REFERENCES [dbo].[dimCustomer] ([Customer_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([Geog_SK])
REFERENCES [dbo].[dimGeog] ([Geog_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([OrderDate_SK])
REFERENCES [dbo].[dimDate] ([Date_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([Product_SK])
REFERENCES [dbo].[dimProduct] ([Product_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([ShipMode_SK])
REFERENCES [dbo].[dimShipMode] ([ShipMode_SK])
GO
USE [master]
GO
