USE [master]
GO
/****** Object:  Database [DW_Superstore_Manual]    Script Date: 05/09/2025 14:03:09 ******/
CREATE DATABASE [DW_Superstore_Manual]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_Superstore_Manual', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Superstore_Manual.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_Superstore_Manual_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Superstore_Manual_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Superstore_Manual].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Superstore_Manual]
GO
/****** Object:  Table [dbo].[dimCustomer]    Script Date: 05/09/2025 14:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimCustomer](
	[Customer_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [char](8) NOT NULL,
	[CustomerName] [varchar](22) NOT NULL,
	[CustomerSegment] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimDate]    Script Date: 05/09/2025 14:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimDate](
	[Date_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[DateValue] [date] NOT NULL,
	[Day] [tinyint] NOT NULL,
	[Week] [tinyint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[Year] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimGeog]    Script Date: 05/09/2025 14:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimGeog](
	[Geog_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Country] [char](13) NOT NULL,
	[Region] [varchar](7) NOT NULL,
	[State] [varchar](20) NOT NULL,
	[City] [varchar](17) NOT NULL,
	[PostalCode] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Geog_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimProduct]    Script Date: 05/09/2025 14:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimProduct](
	[Product_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [char](15) NOT NULL,
	[ProductName] [varchar](127) NOT NULL,
	[ProductCategory] [varchar](15) NOT NULL,
	[ProductSubCategory] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimShipMode]    Script Date: 05/09/2025 14:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimShipMode](
	[ShipMode_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ShipMode] [varchar](14) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipMode_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTOrderItem]    Script Date: 05/09/2025 14:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTOrderItem](
	[Fact_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Row_Id] [int] NOT NULL,
	[Order_Id] [char](14) NOT NULL,
	[Customer_SK] [bigint] NOT NULL,
	[Product_SK] [bigint] NOT NULL,
	[ShipMode_SK] [bigint] NOT NULL,
	[Geog_SK] [bigint] NOT NULL,
	[OrderDate_SK] [bigint] NOT NULL,
	[ShipDate] [date] NOT NULL,
	[Sales] [float] NOT NULL,
	[Qty] [int] NOT NULL,
	[Discount] [decimal](3, 2) NOT NULL,
	[Profit] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Fact_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuperstoreStaging]    Script Date: 05/09/2025 14:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperstoreStaging](
	[Row_ID] [bigint] NOT NULL,
	[Order_ID] [nvarchar](50) NOT NULL,
	[Order_Date] [date] NOT NULL,
	[Ship_Date] [datetime2](7) NOT NULL,
	[Ship_Mode] [varchar](14) NOT NULL,
	[Customer_ID] [char](8) NOT NULL,
	[Customer_Name] [nvarchar](50) NOT NULL,
	[Segment] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[City] [varchar](17) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Postal_Code] [char](5) NOT NULL,
	[Region] [nvarchar](50) NOT NULL,
	[Product_ID] [char](15) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Sub_Category] [nvarchar](50) NOT NULL,
	[Product_Name] [varchar](127) NOT NULL,
	[Sales] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [float] NOT NULL,
	[Profit] [float] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([Customer_SK])
REFERENCES [dbo].[dimCustomer] ([Customer_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([Geog_SK])
REFERENCES [dbo].[dimGeog] ([Geog_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([OrderDate_SK])
REFERENCES [dbo].[dimDate] ([Date_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([Product_SK])
REFERENCES [dbo].[dimProduct] ([Product_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([ShipMode_SK])
REFERENCES [dbo].[dimShipMode] ([ShipMode_SK])
GO
USE [master]
GO
