USE [master]
GO
/****** Object:  Database [DW_Superstore_SSIS]    Script Date: 05/09/2025 14:03:53 ******/
CREATE DATABASE [DW_Superstore_SSIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_Superstore_SSIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Superstore_SSIS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_Superstore_SSIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Superstore_SSIS_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Superstore_SSIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Superstore_SSIS]
GO
/****** Object:  Table [dbo].[dimCustomer]    Script Date: 05/09/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimCustomer](
	[Customer_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [nvarchar](255) NOT NULL,
	[CustomerName] [nvarchar](255) NOT NULL,
	[CustomerSegment] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimDate]    Script Date: 05/09/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimDate](
	[Date_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[DateValue] [date] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[MonthName] [varchar](10) NOT NULL,
	[Day] [tinyint] NOT NULL,
	[Weekday] [tinyint] NOT NULL,
	[WeekdayName] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimGeog]    Script Date: 05/09/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimGeog](
	[Geog_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](255) NOT NULL,
	[City] [nvarchar](255) NOT NULL,
	[State] [nvarchar](255) NOT NULL,
	[PostalCode] [nchar](5) NOT NULL,
	[Region] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Geog_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimProduct]    Script Date: 05/09/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimProduct](
	[Product_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](255) NOT NULL,
	[SubCategory] [nvarchar](255) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimShipMode]    Script Date: 05/09/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimShipMode](
	[ShipMode_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ShipMode] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipMode_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTOrderItem]    Script Date: 05/09/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTOrderItem](
	[Fact_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Row_Id] [int] NOT NULL,
	[Order_Id] [nvarchar](255) NOT NULL,
	[Customer_SK] [bigint] NOT NULL,
	[Product_SK] [bigint] NOT NULL,
	[ShipMode_SK] [bigint] NOT NULL,
	[Geog_SK] [bigint] NOT NULL,
	[OrderDate_SK] [bigint] NOT NULL,
	[ShipDate] [date] NOT NULL,
	[Sales] [float] NOT NULL,
	[Qty] [int] NOT NULL,
	[Discount] [decimal](3, 2) NOT NULL,
	[Profit] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Fact_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OLE DB Destination]    Script Date: 05/09/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLE DB Destination](
	[Customer ID] [nvarchar](255) NULL,
	[Customer Name] [nvarchar](255) NULL,
	[Segment] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuperstoreStaging]    Script Date: 05/09/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperstoreStaging](
	[Row ID] [bigint] NULL,
	[Order ID] [nvarchar](255) NULL,
	[Order Date] [date] NULL,
	[Ship Date] [date] NULL,
	[Ship Mode] [nvarchar](255) NULL,
	[Customer ID] [nvarchar](255) NULL,
	[Customer Name] [nvarchar](255) NULL,
	[Segment] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[Postal Code] [nchar](5) NULL,
	[Region] [nvarchar](255) NULL,
	[Product ID] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Sub-Category] [nvarchar](255) NULL,
	[Product Name] [nvarchar](255) NULL,
	[Sales] [float] NULL,
	[Quantity] [int] NULL,
	[Discount] [decimal](3, 2) NULL,
	[Profit] [float] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([Customer_SK])
REFERENCES [dbo].[dimCustomer] ([Customer_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([Geog_SK])
REFERENCES [dbo].[dimGeog] ([Geog_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([OrderDate_SK])
REFERENCES [dbo].[dimDate] ([Date_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([Product_SK])
REFERENCES [dbo].[dimProduct] ([Product_SK])
GO
ALTER TABLE [dbo].[FACTOrderItem]  WITH CHECK ADD FOREIGN KEY([ShipMode_SK])
REFERENCES [dbo].[dimShipMode] ([ShipMode_SK])
GO
/****** Object:  StoredProcedure [dbo].[CreateDimDate]    Script Date: 05/09/2025 14:03:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateDimDate]
    @start DATE,
    @end DATE
AS
BEGIN
    DECLARE @current DATE = @start;
    WHILE @current <= @end
    BEGIN
        INSERT INTO dimDate (DateValue, Year, Quarter, Month, MonthName, Day, Weekday, WeekdayName)
        VALUES (
            @current,
            YEAR(@current),
            DATEPART(QUARTER, @current),
            MONTH(@current),
            DATENAME(MONTH, @current),
            DAY(@current),
            DATEPART(WEEKDAY, @current),
            DATENAME(WEEKDAY, @current)
        );
        SET @current = DATEADD(DAY, 1, @current);
    END
END
GO
USE [master]
GO
