USE [master]
GO
/****** Object:  Database [DW_Sales]    Script Date: 05/09/2025 13:59:23 ******/
CREATE DATABASE [DW_Sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_Sales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Sales.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_Sales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DW_Sales_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Sales]
GO
/****** Object:  Table [dbo].[dimCountry]    Script Date: 05/09/2025 13:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimCountry](
	[Country_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](24) NOT NULL,
	[Region_SK] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Country_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimCustomer]    Script Date: 05/09/2025 13:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimCustomer](
	[CustomerId] [bigint] NOT NULL,
	[CustomerName] [varchar](19) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimProduct]    Script Date: 05/09/2025 13:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimProduct](
	[ProductId] [char](7) NOT NULL,
	[ProductName] [varchar](27) NOT NULL,
	[stdCost] [decimal](5, 2) NOT NULL,
	[stdPrice] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimRegion]    Script Date: 05/09/2025 13:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimRegion](
	[Region_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[RegionName] [varchar](33) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Region_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimSalesChannel]    Script Date: 05/09/2025 13:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimSalesChannel](
	[Channel_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ChannelName] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Channel_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTSale]    Script Date: 05/09/2025 13:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTSale](
	[FACT_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[RowId] [bigint] NOT NULL,
	[DateSold] [date] NOT NULL,
	[UnitsSold] [int] NOT NULL,
	[Channel_SK] [bigint] NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[ProductId] [char](7) NOT NULL,
	[Country_SK] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FACT_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StagingSales]    Script Date: 05/09/2025 13:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StagingSales](
	[RowId] [smallint] NOT NULL,
	[dateSold] [datetime2](7) NOT NULL,
	[productSold] [nvarchar](50) NOT NULL,
	[unitsSold] [tinyint] NOT NULL,
	[salesChannel] [nvarchar](50) NOT NULL,
	[Region] [nvarchar](50) NOT NULL,
	[custId] [smallint] NOT NULL,
	[custName] [nvarchar](50) NOT NULL,
	[productId] [nvarchar](50) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
	[stdCost] [float] NOT NULL,
	[stdPrice] [float] NOT NULL,
	[Country] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dimCountry]  WITH CHECK ADD FOREIGN KEY([Region_SK])
REFERENCES [dbo].[dimRegion] ([Region_SK])
GO
ALTER TABLE [dbo].[FACTSale]  WITH CHECK ADD FOREIGN KEY([Channel_SK])
REFERENCES [dbo].[dimSalesChannel] ([Channel_SK])
GO
ALTER TABLE [dbo].[FACTSale]  WITH CHECK ADD FOREIGN KEY([Country_SK])
REFERENCES [dbo].[dimCountry] ([Country_SK])
GO
ALTER TABLE [dbo].[FACTSale]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[dimCustomer] ([CustomerId])
GO
ALTER TABLE [dbo].[FACTSale]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[dimProduct] ([ProductId])
GO
USE [master]
GO
